{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<div style="display: flex;">
    <div class="memberRegister">
        <form id="form2" action="/Accounts/registration" method="post" >
           <h4>Your Details?</h4>
            <hr>
          <p>
            <label for="fname">First Name*:</label><br>
            <input type="text" id="fname" name="lname" class="form-control" required>
          </p>
          <p>
            <label for="lname">Last Name*:</label><br>
            <input type="text" id="lname" name="lname" class="form-control" required>
          </p>
          <p>
            <label for="email1">Email*:</label><br>
            <input type="email" id="email1" name="email1" class="form-control" required>
          </p>
          <p>
            <label for="phone">Phone number:</label><br>
            <input type="text" id="phone" name="phone" class="form-control" required>
          </p>
          <p>
            <label for="pwd1">Choose Password*:</label><br>
            <input type="password" id="pwd1" name="pwd" class="form-control" required>
          </p>
          <p>
            <label for="pwd2">Confirm Password*:</label><br>
            <input type="password" id="pwd2" name="pwd2" class="form-control" required>
          </p>
        </form>
    </div>
        <div class="register">
            <form id="form4" action="/Accounts/registration" method="post" >
                <h4>Your Address</h4>
                <hr>
                <p>
                  <label for="zip">PostCode/ZIP*:</label><br>
                  <input type="number" id="zip" name="postcode" class="form-control" required>
                </p>
                <p>
                  <label for="addr"> Address* :</label><br>
                  <input type="text" id="addr" name="address" class="form-control" required>
                </p>
                <p>
                  <label for="town">City*:</label><br>
                  <input type="text" id="town" name="city" class="form-control" required>
                </p>

                <input type="checkbox" id="offers" name="offer">
                <label for="offers" class="label4">I would to be sent discount code for Products</label><br>
                <input type="checkbox" id="discount" name="discount">
                <label for="discount" class="label4">I would like to be sent special offers on products</label><br>
                <input type="checkbox" id="discount2" name="discount2">
                <label for="discount" class="label4"> I would like to be send ALL special offers</label><br>

                <div class="btn btn-success">
                    <button type="submit" name="submitbtn" class="btn">Register</button>
                </div>
                    <a href="#" class="formLink"> < Cancel Registration</a>
            </form>
        </div>
</div>
{% endblock content %}