 <div id="navbarHeader" class="collapse bg-info" >
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h2 class="text-dark">Clinic &amp; Pharmacy</h2>
                <p class="text-white">Shop medicines in our online pharmacy take an appointment with our doctors to the clinic or at home call the EMS for emergencies services  </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Follow on Twitter</a></li>
                  <li><a href="#" class="text-white">Like on Facebook</a></li>
                  <li><a href="mailto:ngongangluther@gmail.com" class="text-white">Email US</a></li>
                </ul>
             </div>
          </div>
         </div>
      </div>

<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <button id="luther" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h3>Clinic & Pharmacy</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About US <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/Medicines"> Medicines <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
           <a class="nav-link" href="/"> Doctors <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/"> Emergencies <span class="sr-only">(current)</span></a>
      </li>
    </ul>

      <ul class="navbar-nav navbar-right ">
          <li class="nav-item">
              <a class="nav-link" href="/Accounts/register">Sign in/Register</a>
          </li>
      </ul>

  </div>
</nav>
